---
layout: layout/base.njk
permalink: /impressum/
title: Impressum


seoTitle: Impressum
seoDescription:
metaImage: .png
---

<div class="impressum">

	<div class="wrapper">

		<h1>Impressum</h1>

		<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
		<p>EHC Tiger K&ouml;ln e.V.<br />
		Deidesheimer Stra&szlig;e 2<br />
		50739 K&ouml;ln</p>

		<p>Vereinsregister: VR 21384<br />
		Registergericht: K&ouml;ln</p>

		<p><strong>Vertreten durch:</strong><br />
		Alexander Bastian, <br />
		  Michael Cunz,<br />
		  Florian von Hasselbach,<br />
		  Christian Kriegsheim,<br />
		  Christian Wanney</p>

		<h2>Kontakt</h2>
		<p>Telefon: +49 (0)221 79 00 21 75<br />
		E-Mail: mail@ehctiger.koeln</p>

		<h2>EU-Streitschlichtung</h2>
		<p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

		<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
		<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

	</div>

</div>
