---
layout: layout/base.njk
permalink: /index/
title: EHC Tiger Köln e.V.


seoTitle: Startseite
seoDescription: Kölner Eishockeymannschaft seit 1996
metaImage: comingsoon.png
---

<section class="construction">

	<div class="hero">
		<div class="comingsoon">
			{% picture "comingsoon.png", "UnderConstruction – EHC Tiger Köln e.V." %}
		</div>
	</div>




	<div class="copy">
		<h1>Coming soon</h1>
		<p>Wir arbeiten an der neuen Homepage der Tiger.</p>

		<h3>Folge uns auf Social Media</h3>
		<a href="https://www.instagram.com/ehctigerkoeln/" target="_blank" rel="nofollow noreferrer noopener">Instagram</a>
		<a href="https://www.facebook.com/ehctigerkoeln/" target="_blank" rel="nofollow noreferrer noopener">Facebook</a>
	</div>

	<div class="stripe">

	</div>

</section>
