<footer>

  <div class="wrapper">

    <div class="footer__info">

      <ul class="footer__links rights">
        <li><span class="copyrights">©{% year %} Alle Rechte vorbehalten.</span></li>
      </ul>

      <ul class="footer__links social">
        <li><a class="link orange" href="https://www.instagram.com/ehctigerkoeln/" target="_blank" rel="nofollow noreferrer noopener">Instagram</a></li>
        <li><a class="link orange" href="https://www.facebook.com/ehctigerkoeln/" target="_blank" rel="nofollow noreferrer noopener">Facebook</a></li>
      </ul>

      <ul class="footer__links legal">
        <li><a class="cps link" href="/impressum">Impressum</a></li>
        <li><a class="cps link" href="/datenschutz">Datenschutz</a></li>
        <li><a class="cps link" href="/satzung/221102_satzung-ehc_tiger.pdf">Satzung</a></li>
      </ul>


    </div>

  </div>

</footer>
