<!DOCTYPE html>
<html class="no-js" lang="de" id="{{ page.fileSlug }}">
  <head>
    <meta charset="utf-8">
    <title>{{seoTitle}} · {{ site.metaTitle }}</title>
    <meta name="description" content="{{seoDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->

    <!-- favicon -->
    <link rel="icon" href="/assets/fav/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/fav/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/fav/apple-touch-icon.png">
    <link rel="manifest" href="/assets/fav/site.webmanifest">

    <!-- styles -->
    <link rel="preload" href="/assets/fonts/CircularStd-Book.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/CircularStd-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/style.css">

    <meta name="theme-color" content="#383838">

    <!-- open graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ seoTitle }} · {{ site[locale].metaTitle }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/{{ metaImage }}">
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/{{ metaImage }}}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{{ seoDescription }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.authorTwitter }}">
    <meta name="twitter:creator" content="{{ site.authorTwitter }}">
    <meta name="twitter:title" content="{{ seoTitle }} · {{ site[locale].metaTitle }}">
    <meta name="twitter:description" content="{{ seoDescription }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/{{ metaImage }}">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

  </head>
