<header>
  <div class="wrapper">

    <div class="site-branding">
      <a id="logo" href="/" rel="home" title="" aria-label="">
        {% picture "tiger_logo.png", "Logo – EHC Tiger Köln e.V." %}
      </a>
    </div><!-- .site-branding -->
    
  </div>
</header><!-- header -->
