<!DOCTYPE html>
<html class="no-js" lang="de" id="{{ page.fileSlug }}">
  <head>
    <meta charset="utf-8">
    <title>{{seoTitle}} · {{ site.metaTitle }}</title>
    <meta name="description" content="{{seoDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->

    <!-- styles -->
    <link rel="stylesheet" href="/style.css">

    <meta name="theme-color" content="#383838">


  </head>
